<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>

    <style>

        body{
            font-family: Arial;
            padding: 40px;
        }

        .question-box{
            border: 1px solid gray;
            padding: 20px;
            width: 500px;
        }

        button{
            padding: 10px 20px;
            margin-top: 20px;
            cursor: pointer;
        }

        #submitBtn:disabled{
            background-color: gray;
            cursor: not-allowed;
        }

    </style>

</head>
<body>

    <h1>Quiz App</h1>

    {% for question in questions %}

    <div class="question-box question" {% if not forloop.first %}style="display:none;"{% endif %}>

        <h2>{{ question.question_text }}</h2>

        {% for choice in question.choice_set.all %}

            <input type="radio"
                   name="question{{ question.id }}"
                   onclick="enableSubmit(this)">
                   
            {{ choice.choice_text }}

            <br><br>

        {% endfor %}

        <button id="submitBtn" disabled onclick="nextQuestion(this)">
            Submit
        </button>

        <button onclick="nextQuestion(this)">
            Next
        </button>

    </div>

    {% endfor %}

    <script>

        function enableSubmit(radio){

            let questionBox = radio.closest('.question-box');

            let submitBtn = questionBox.querySelector('#submitBtn');

            submitBtn.disabled = false;
        }


        function nextQuestion(button){

            let currentQuestion = button.closest('.question');

            currentQuestion.style.display = 'none';

            let nextQuestion = currentQuestion.nextElementSibling;

            if(nextQuestion){
                nextQuestion.style.display = 'block';
            }
            else{
                document.body.innerHTML += "<h2>Quiz Finished</h2>";
            }
        }

    </script>

</body>
</html>